<div>
	<div class="roundedcornr_box">
		<div class="roundedcornr_top">
			<div>
			</div>
		</div>
		<div class="roundedcornr_content">
			<h1>Articl.es</h1>
			<h4>...bit.ly says that he misses you</h4>
		</div>
		<div class="roundedcornr_bottom">
			<div>
			</div>
		</div>
	</div>
	
	<div>
		<%= link_to (image_tag('/images/back.png', :border => 0, :title => "Back", :class => 'icon-reposition')) + "back", :back, {:title => "Back"} %>
	</div>
	
	<div class="subtitle">
		<h1>Editing "<%= @article.title %>"</h1>
	</div>
	
	<div class="article-form">
	<% form_for(@article) do |f| %>
		<%= f.error_messages %>

		<div>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<div>
			<%= f.label :author %>
			<%= f.text_field :author %>
		</div>
		<div>
			<%= f.label :body %>
			<%= f.text_area :body %>
		</div>
		<div>
			<%= f.submit 'Save Changes' %>
		</div>
	<% end %>
	</div>

</div>