<h1>New user</h1>

<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login, "User Name" %><br />
    <%= f.text_field :login %>
  </p>
  <p>
	<%= f.label :password %>
	<%= f.password_field, :password %>
  <p>
    <%= f.submit 'Log In' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>