= render :partial => '/global/header'
.form
  %h1 Log In
  %h3
    First Time Here? #{link_to 'Register.', new_user_path}
  - form_for @user_session do |f|
    = f.error_messages
    %p
      = f.label :username
      %br/
      = f.text_field :username
    %p
      = f.label :password
      %br/
      = f.password_field :password
    %p= f.submit 'Log In'
