<div>
  <%= render :partial => '/global/header'%>

  <div class="paginate">
    <%= will_paginate @games %>
  </div>

  <% if @num_games > 0 %>
    <table class="games-list">
      <tr class="table-header">
        <th width="100px">Name</th>
        <th width="100px">Rating</th>
		<th width="200px">Date Added</th>
      </tr>
  <% end %>

  <% @games.each do |game| %>
    <tr class=<%= cycle('list-line-odd', 'list-line-even') %>>
      <td><%=h game.name %></td>
      <td><%=h game.rating %></td>
	  <td><%=h game.created_at.strftime("%b. %d, %Y") %>
    </tr>
  <% end %>
  </table>
</div>