<div>
  <%= render :partial => '/global/header'%>

  <div class="paginate">
    <%= will_paginate @games %>
  </div>

  <% if @num_games > 0 %>
    <table class="list">
      <tr class="table-header">
        <th width="150px">Name</th>
        <th width="150px">Rating</th>
		<th width="300px">Date Added</th>
      </tr>
  <% end %>

  <% @games.each do |game| %>
    <tr class=<%= cycle('list-line-odd', 'list-line-even') %>>
      <td><%=h game.name %></td>
      <td><%=h game.rating %></td>
	  <td><%=h game.created_at.strftime("%b. %d, %Y")+" by " %>
		  <% if current_user %>
		    <% if game.user == current_user %>
		      me
		    <% else %>
		      <%= User.find(game.user_id).firstname+" "+User.find(game.user_id).lastname %>
		    <% end %>
		  <% else %>
		    <%= User.find(game.user_id).firstname+" "+User.find(game.user_id).lastname %>
		  <% end %></td>
    </tr>
  <% end %>
  </table>
</div>