<%= render :partial => '/members/global/header'%>

<div class="form-member">
  <h1>Editing <%= @game.name %></h1>

  <% form_for([:members, @game]) do |f| %>
    <%= f.error_messages %>

    <div>
      <%= f.label :name %>
	  <%= f.text_field :name %>
	</div><br/>
	<div>
      <%= f.label :rating %>
	</div><br/>
	<p>
	  <%= f.radio_button :rating, "Excellent" %>
	  <%= f.label :excellent %>
	</p>
	<p>
	  <%= f.radio_button :rating, "Good" %>
	  <%= f.label :good %>
	</p>
	<p>
	  <%= f.radio_button :rating, "Average"  %>
	  <%= f.label :average %>
	</p>
	<p>
      <%= f.radio_button :rating, "Just Plain Sucks" %>
      <%= f.label :just_plain_sucks %>
	</p>
    <p>
      <%= f.submit 'Save Changes' %>
    </p>
  <% end %>
</div>