<%= render :partial => '/global/header'%>

<div class="form-member">
  <h1>Register</h1>
  <h3>Already a member? <%= link_to 'Log in', login_path %></h3>
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
    <p>
	  <%= f.label :password %><br />
	  <%= f.password_field :password %>
    </p>
    <p>
	  <%= f.label :password_confirmation %><br/>
	  <%= f.password_field :password_confirmation %>
    </p> 
  	<p>
      <%= f.label :first_name %><br/>
	  <%= f.text_field :firstname %>
	</p>
	<p>
	  <%= f.label :last_name %><br/>
	  <%= f.text_field :lastname %>
	</p>
    <p>
	  <%= f.label :email %><br/>
	  <%= f.text_field :email %>
	</p>
    <%= f.submit 'Register!' %>
  </p>
<% end %>
</div>
