<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password salt:</b>
  <%=h @user.password_salt %>
</p>

<p>
  <b>Crypted password:</b>
  <%=h @user.crypted_password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>