<%= render :partial => '/members/global/header' %>

<h1 class="title">Editing <%= current_user.username %></h1>

<div class="form">

<% form_for([:members, @user]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :disabled => 'true' %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :photo %><br/>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.submit 'Save Changes' %>
  </p>
<% end %>
</form>
