<%= render :partial => '/admin/global/header' %>

<h1 class="title">Users</h1>

<div class="paginate">
  <%= will_paginate @users %>
</div>

<table class="list">
  <tr class="table-header">
    <th width="200px">Name</th>
    <th width="150px">Username</th>
    <th width= "200px">Last Login</th>
    <th width = "200px">Number of Games</th>
  </tr>

<% @users.each do |user| %>
  <tr class=<%= cycle('list-line-odd', 'list-line-even') %>>
    <td><%=h link_to user.firstname + " " + user.lastname, edit_admin_user_path(user) %></td>
    <td><%=h user.username %></td>
	<td>'User's Last login'</td>
	<td><%= @games.find_all_by_user_id(user.id).count %></td>
  </tr>
<% end %>
</table>