<div class="links-bar">
  <% if current_user %>
	<% if current_user.role.name == "Admin" %>
      <ul>
	    <li>Logged in as <%= link_to current_user.username, edit_admin_user_path(current_user), :title => 'Edit my profile' %>, admin</li>
	    <li><%= link_to 'Admin', admin_root_url, :title => 'Admin home' %></li>
	    <li><%= link_to 'Logout', logout_path %></li>
      </ul>
    <% else %>
      <ul>
	    <li>Logged in as <%= link_to current_user.username, edit_members_user_path(current_user), :title => 'Edit my profile' %>, member</li>
	    <li><%= link_to 'My Games', members_games_path, :title => 'Show my games' %></li>
	    <li><%= link_to 'Logout', logout_path %></li>
      </ul>
    <% end %>
  <% else %>
	<ul>
	  <li><%= link_to 'log in', login_path %></li>
	  <li><%= link_to 'register', new_user_path %></li>
	</ul>
  <% end %>
</div>
 
<br />

<div class="main-title">
  <h1><%= link_to 'Gamez', root_url %></h1>
</div>

<%= render :partial => '/global/flash', :locals => {:flash => flash}  %>
