<%= render :partial => '/admin/global/header' %>


<h1 class="title">Editing role</h1>
<div class="form">

  <% form_for([:admin, @role]) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>