= render :partial => '/admin/global/header'
%h1.title
  Editing #{@role.name}
.delete-link
  - if @role.name == 'Admin' or @role.name == 'Member'
    = link_to (image_tag('/images/delete.png', :class => 'icon-reposition', :title => 'Delete Role', :onmouseover => "this.src = '/images/delete_big.png'", :onmouseout => "this.src='/images/delete.png'"))+"delete", [:admin, @role], :confirm => 'Are you sure? Deleting '+@role.name+' could cause serious implications.', :method => :delete, :title => 'Delete Role'
  - else
    = link_to (image_tag('/images/delete.png', :class => 'icon-reposition', :title => 'Delete Role', :onmouseover => "this.src = '/images/delete_big.png'", :onmouseout => "this.src='/images/delete.png'"))+"delete", [:admin, @role], :confirm => 'Are you sure?', :method => :delete
.form
  - form_for([:admin, @role]) do |f|
    = f.error_messages
    %p
      = f.label :name
      %br/
      = f.text_field :name
    %p
      = f.submit 'Update'
