= render :partial => '/admin/global/header'
%h1.title Roles
.paginate
  = will_paginate @roles
%table.list
  %tr.table-header
    %th{:width => "200px"} Name
    %th Number of Users
  - @roles.each do |role|
    <tr class=#{cycle('list-line-odd', 'list-line-even')}>
    %td= h link_to role.name, edit_admin_role_path(role), :title => 'Edit '+role.name
    %td= @users.find_all_by_role_id(role.id).count
%br/
.new
  = link_to 'New role', new_admin_role_path, :title => 'Create a new role'
