<%= render :partial => '/admin/global/header' %>

<div class="paginate">
  <%= will_paginate @roles %>
</div>

<table class="list">
  <tr class="table-header">
    <th>Title</th>
    <th>Name</th>
  </tr>

<% @roles.each do |role| %>
  <tr class=<%= cycle('list-line-odd', 'list-line-even') %>>
    <td><%=h role.title %></td>
    <td><%=h role.name %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />