<%= render :partial => '/admin/global/header' %>
<p>
  <b>Title:</b>
  <%=h @role.title %>
</p>

<p>
  <b>Name:</b>
  <%=h @role.name %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>