<div class="links-bar-logged-in">
  <ul>
    <li>Logged in as <%= link_to current_user.username, edit_admin_user_path(current_user) %>, admin.</li>
	<li><%= link_to 'Admin', admin_root_url %>
	<li><%= link_to 'My Games', admin_games_path %></li>
	<li><%= link_to 'Logout', logout_path %>
  </ul>
</div>

<br />

<div class="main-title">
  <h1><%= link_to 'Gamez', admin_root_url %></h1>
</div>

<div class="admin-links-bar">
  <ul>
    <li><%= link_to 'Games', admin_games_path %></li>
	<li><%= link_to 'Users', admin_users_path %></li>
	<li><%= link_to 'Roles', admin_roles_path %></li>
  </ul>
</div>